streamlit

# MCP
mcp

# LangChain
langchain
langchain-core
langchain-community
langchain-groq

# Tools
duckduckgo-search
wikipedia
requests

# Pydantic
pydantic

# Environment
python-dotenv
